# Quarto
.quarto/
_site/

# R project files
.Rproj.user
.Rhistory

# OS files
.DS_Store

# caches
*_cache

# large media files (optional)
*.mp4
*.psd
*.tif

# blog data
blog/posts/blog-20170806/data*

/.quarto/
**/*.quarto_ipynb
