{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!-- Home Page Link (Left-Aligned) -->
          <li class="masthead__menu-item masthead__menu-item--home">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>
          
          <!-- Other Links (Right-Aligned) -->
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            
            <!-- For the specific pages (Research, CV, My Library), add a class for right alignment -->
            {% if link.title == "Research" or link.title == "My Library" or link.title == "CV" %}
              <li class="masthead__menu-item masthead__menu-item--right">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% else %}
              <li class="masthead__menu-item">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
